/*Utilities*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Header*/
.logo-bar,
.nav-bar {
  background-color: red;
}

.logo-bar {
  float: left;
}

.nav-bar {
  float: right;
}

/*Hero*/
.hero {
  background-color: rgb(202, 202, 228);
}
.hero-container {
  background-color: red;
  width: 20%;
  margin: 0 20%;
}
.hero-img {
  background-color: blue;
  float: right;
  margin: 0 20%;
}
