* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Utilities*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.margin {
  margin: 0 auto;
}
.padding {
  padding: 2%;
}
.paddingleft {
  padding-left: 2%;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}
.square-button {
  padding: 2% 15%;
  background-color: #0061ff;
  color: white;
}
.big-container {
  width: 90%;
}
.small-container {
  width: 70%;
}
/*Header*/
.logo-bar,
.nav-bar {
  border: 1px solid black;
}

.logobar-leftnav li,
.navbar-rightnav li {
  display: inline-block;
}

/*Hero*/
.hero {
  background-color: #b4d0e7;
  border: 1px solid black;
}
.hero-container {
  background-color: #b4d0e7;
  border: 1px solid black;
}
.hero-text {
  background-color: #b4d0e7;
  border: 1px solid black;
  width: 30%;
}
.hero-image {
  background-color: #b4d0e7;
  border: 1px solid black;
  width: 70%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0, 30%);
}
h1 {
  font-size: 80px;
}

/*First section*/
.first {
  background-color: white;
  padding-top: 10%;
}
.first-container {
  border: 1px solid black;
}

.column-container {
  border: 1px solid black;
  padding-top: 2%;
}

h2 {
  padding-bottom: 2%;
}

.col1,
.col2,
.col3 {
  width: 30%;
  border: 1px solid black;
  text-align: center;
  padding: 3%;
}
.col2 {
  margin-left: 5%;
}

.col1 li,
.col2 li,
.col3 li {
  padding: 2%;
  list-style-type: none;
}
.business-type {
  text-align: center;
  border-bottom: 1px solid black;
}

/*First bottom container*/

.first-bottom-container {
  border: black 1px solid;
}

.box1 * {
  padding-bottom: 2%;
}
.box1 {
  border: 1px solid black;
  width: 70%;
}
.box2 {
  border-bottom: 1px solid black;
  width: 30%;
}

/*Second section */
.box3 {
  width: 50%;
  border: 1px solid black;
}
.box3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box4 * {
  padding: 2%;
}
.box4 {
  width: 50%;
  border: 1px solid black;
}

/*third section*/
.third-container {
  border: 1px solid black;
}

.third-container div {
  width: 30%;
  border: 1px solid black;
  margin-bottom: 2%;
}

div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxy2,
.boxy5 {
  margin-left: 6%;
}

/*Fourth section*/
.fourth-container {
  border: 1px solid black;
}
.logo-container {
  border: 1px solid black;
}

.half1,
.half3 {
  width: 30%;
  border: 1px solid black;
}

.half2 {
  width: 40%;
  border: 1px solid black;
}
